<!-- Footer -->
<footer class="footer text-center text-lg-start ">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">

<b><h5 class="text-uppercase mb-0 d-flex flex-row justify-content-start">FREE 30-DAY TRIAL</h5></b>
        <p class="text-left">
          Browse and Watch our library of 20 TV Shows and 20 Movies.
          We offer ad-free streaming on your iPhone, iPad, Smart TV and desktop computer.
          Join Now and Get your 30-day Free Trial!
        </p>
      </div>
     
  

      <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 pl-5 ">
          <b><h5 class="text-uppercase mb-0 d-flex flex-row justify-content-start">Site Map</h5></b>
          <ul class="list-unstyled">
            <li class="d-flex flex-row justify-content-start">
              <a href="/" class="">Home</a>
            </li>
            <li class="d-flex flex-row justify-content-start">
              <a href="/tvshows" class="">TV Shows</a>
            </li>
            <li class="d-flex flex-row justify-content-start">
              <a href="/movies" class="">Movies</a>
            </li>
            <li class="d-flex flex-row justify-content-start">
              <a data-toggle="modal" data-target="#loginModal" style="text-decoration: underline !important; cursor: pointer !important;">Sign In</a>
            </li>
            <li class="d-flex flex-row justify-content-start">
              <a  data-toggle="modal" data-target="#registerModal"style="text-decoration: underline !important; cursor: pointer !important;">Register</a>
            </li>
          </ul>
      </div>

    
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <b><h5 class=" text-left text-uppercase mb-0 justify-content-start">Subscribe for Updates</h5></b>
<p class=" text-left">
                    Get updates on the latest entertainment. Subcribe now and get 
                    an additional 20% off your first purchase.<i class="fa fa-get-pocket" aria-hidden="true"></i>
                </p>
                <form action="https://formspree.io/f/xvovjgbw" method="POST" class="float-left">
                    <input type="email" name="_replyto" placeholder="ex. evan@email.com" />
                    <button id="btnsub" class=" btn text-light" style="
background-color: #c70039; border-radius: 5px; " type="submit" value="Send">Submit</button>
                </form>
        </div>
      </div>
    <!--Grid row-->
    </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="" href="/">Popcorn Flix</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->