<nav class="navbar navbar-expand-xxl navbar-light ">
  <a class="navbar-brand" href="/">  <img src="/img/popcornflix.png" height="80" class="d-inline-block align-top" alt="Logo">
    
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link " href="/">Home</a>
      <a class="nav-item nav-link" href="/movies">Movies</a>
      <a class="nav-item nav-link" href="/tvshows">TV Shows</a>
      <a class="nav-item nav-link mOne" data-target="#registerModal" data-toggle="modal">Register</a>
      <a class="nav-item nav-link mTwo" data-target="#loginModal" data-toggle="modal">Log In</a>
    </div>
  </div>
</nav>

